*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

  body{
    background: linear-gradient(
        #005C97,
        #363795
    );
  }

  .todo-app{
      display: flex;
      flex-direction: column;
      justify-content: start;
      width: 520px;
      min-height: 600px;
      background-color: #161a2b;
      color:beige;
      text-align: center;
      margin: 60px auto;
      padding-bottom: 40px;
      border-radius: 10px;
  }

  h1{
  margin: 30px auto; 
    color: #fff;
  }

  .form{
    margin-bottom: 30px;
  }

  .todoInput{
    padding: 10px 30px 10px 15px;
    border-radius: 5px;
    border: 2px solid cyan;
    background: transparent;
    width: 300px;
    color: #e2e2e2  ;
  }

  .todoButton{
      padding: 12px;
      border: none;
      border-radius: 5px;
      color: #fff;
      background: linear-gradient(
        #43cea2,
        #185a9d
      );
      text-transform: capitalize;
  }

  .todo-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px auto;
    font-size: 20px;
    color: black;
    padding: 10px;
    border-radius: 20px;
    width: 80%;
    background: linear-gradient(
        #70e1f5,
        #ffd194
    );
    font-weight: 700;
    position: relative;
  }

  .todo-row button{
    background: linear-gradient(
        #70e1f5,
        #ffd194
    );
    border: none;
  }

  .icons button{
    padding-right: 5px;
  }

  .complete{
      text-decoration: line-through;
      opacity: 0.5;
  }

  